* {
  font-family: 'Libre Franklin';
}
.all-links{
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  min-height: 100vh;
  background-color: #efefef;
}
main {
  max-width: 800px;
}
nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  width: 100%; 
  top: 0; 
  z-index: 100; 
  justify-content: center;
  align-items: center;
}
nav > * {
  padding: 14px 40px; /* Padding for each link */
}
nav a {
  color: black;
  text-decoration: none; /* Remove default underline */
  transition: background-color 0.4s;
  border-radius: 30px;
}
nav a:hover {
  background-color: #1489F5;
  color: #fff;
}

#header-text {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#header-text > * {
  margin: 0;
  padding: 5px 0px;
}

#clear-video-button {
  border: none;
  background: none;
}
#clear-video-button:hover {
  cursor: pointer;
}
/* all buttons will look like this */
.primary-btn {
  border-radius: 20px;  
  padding: 9px 12px;
  border: none;
  background-color:#1489F5 ;
  color: white;
  font-size: 16px;
}
.primary-btn:hover {
  cursor: pointer;
}
.secondary-btn {
  border-radius: 20px;  
  padding: 9px 12px;
  border: none;
  /* background-color: #8DC5E5; */
  background-color: #ff3b3f;
  color: #fff;
  font-size: 16px;
}
.secondary-btn:hover {
  cursor: pointer;
}

progress {
  display: none;
}
progress.visible {
  display: inline;
}

#action-area {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .3);
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drop-zone {
  border: 3px dotted #a9a9a9;
  border-radius: 20px;
  margin: 0px 15px 15px 15px;
}
#drop-zone {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#instruction-container {
  display: flex;
  justify-content: center;
}
#instruction-list li{
  padding: 8px 5px;
}

#drop-limit-text {
  color: #a9a9a9;
}
#vid-inputs-container {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0px;
}
#queued-video-container {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#upload-status-container {
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#support-me-text p {
  text-align: center;
  margin: 0px;
}

#ad-container {
  margin: 15px 0px;
}

#download-btns > *{
  margin: 15px 10px 10px 10px;
}
#download-btn {
  color: #fff;
}
.disabled-text {
  color: rgba(0, 0, 0, .25);
}
.success-text {
  color: #5cb85c; 
}
.error-text {
  color: #ff3b3f;  
  font-weight: bold;
}
footer {
  background-color: #333;
  color: #fff;
  padding-bottom: 20px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #666;
}